
<!doctype html>
<html>

<link rel= "stylesheet" type= "text/css"
   href= "{{ url_for('static', filename='/styles/home.css') }}">

   <body>

      <div id="top_page">
         <div class="side_by_side">
            <img src="/static/images/c3bo_temp_logo.jpg"
                 alt="C-3BO Logo" width="165" height="135">
         </div>
         <div class="stop_side_by_side">
            <!-- make sure to use STATIC cs file -->
            <h1>
               Cancer-3 Blood Oncologist
            </h1>
            <h2>
               The Ultimate Friendly Leukemia-Detecting Robot
            </h2>
         </div>
      </div>

      

      <!-- the body of the middle page -->
      <div id="body_page">
         <br><br><br><br><br><br>
         <h2 class="subtitle">What is Leukemia?</h2>
         <h2>Leukemia is a cancer caused by the overproduction
             of white blood cells, or leukocytes.
         </h2><br>
         <h2>It originates in the bone marrow and is classified
             as a blood cancer.
         </h2><br>
         <h2 class="subtitle">
            Statistics
         </h2>

      </div>
      
      <!-- <div>
         <h3 class="quotes">
            Inspiration is overrated!
         </h3>
         <h3>it has been {{days}} total days since this project was first conceived!</h3>
      </div> -->

   </body>
</html>