<!doctype html>
<html>

<link rel= "stylesheet" type= "text/css"
   href= "{{ url_for('static', filename='/styles/home.css') }}">

   <body>

      <div id="top_page">
         <div class="side_by_side">
            <img src="/static/images/c3bo_temp_logo.jpg"
                 alt="C-3BO Logo" width="165" height="135">
         </div>
         <div class="stop_side_by_side">
            <!-- make sure to use STATIC cs file -->
            <h1>
               Cancer-3 Blood Oncologist
            </h1>
            <h2>
               The Ultimate Friendly Leukemia-Detecting Robot
            </h2>
         </div>
         <div>
            <a href="/hospital/">Hospital</a>&nbsp&nbsp&nbsp
            <a href="/bibliography/">Citations</a>&nbsp&nbsp&nbsp
            <a href="https://github.com/Tofudog/C-3BO_2">Source Code</a>
         </div>
      </div>

      <!-- the body of the middle page -->
      <div id="body_page">
         <br><br><br><br><br><br>
         <div>
            <h2 class="subtitle">What is Leukemia?</h2>
            <h2>Leukemia is a cancer caused by the overproduction
                of white blood cells, or leukocytes. When those leukocytes'
                DNA mutates to avoid death, they cause an imbalance against other
                types of cells: red blood cells and platelets.
            </h2><br>
            <h2>It originates in the bone marrow and is classified
                as a blood cancer.
            </h2><br>
            <h2>Among the types of leukemia are
            </h2>
            <ul>
               <li>Acute Myeloid Leukemia</li>
               <li>Acute Lymphoblastic Leukemia</li>
               <li>Chronic Myeloid Leukemia</li>
               <li>Multiple Myeloma</li>
            </ul><br>
         </div>
         
         <div id="body_page">
            <h2 class="subtitle">Statistics</h2>
            <div class="side_by_side">
               <iframe src="/static/images/leukstat1.jpg"
                  height="490" width="780"
                  style="border:1px solid rgb(165, 8, 37);"
                  title="Leukemia Statistic 1">
              </iframe>
               <p>World Health Organization and International Agency for
                  Research on Cancer<a class="cite" href="/bibliography/">'12'</a>
               </p>
            </div>
            <div class="stop_side_by_side"></div>
         </div>

         <div>
            <h2 class="subtitle">Deep Learning</h2>
            <h3>
               The field of Deep Learning is growing rapidly. But what exactly is it?
            </h3>
            <iframe src="/static/images/neural_net2.jpg"
               height="301" width="500"
               style="border:1px solid rgb(165, 8, 37);"
               title="IBM Neural Network Figure">
            </iframe>
            <p>International Business Machines Corporation
               <a class="cite" href="/bibliography/">'6'</a>
            </p>
            <h4>
               Simply put, it is artificial intelligence powered by deep neural networks,
               powerful weighted graphs inspired by the human brain! It can do many
               things that humans can do... play chess, shuffle playlists, and
               diagnose cancer!
            </h4>
         </div>

         <div>
            <h2 class="subtitle">Who is this C-3BO?</h2>
            <h3>
               With the projected national shortage of hematologists and
               higher cases in leukemia, C-3BO aims to be an extra set of eyes.
               It is not meant to replace doctors, but rather supplement them.
            </h3><br>
            <h3>
               Additionally, C-3BO can now interpret predictions made by its system.
               What does that mean? Instead of simply receiving diagnostic results,
               it reasons how those results were made!
            </h3><br>
            <h3>
               Among its many capabilities are
            </h3>
            <ul>
               <li>Reading peripheral blood smear images</li>
               <li>Determining if a patient has leukemia</li>
               <li>Accurately differentiating specific leukemia subtypes</li>
               <li>Interpreting deep neural network predictions on leukemia diagnoses</li>
               <li>Being friendly!</li>
            </ul><br>
         </div>
      </div>
      
      <div>
         <h3 class="quotes">
            "We seem to be made to suffer. It's our lot in life."
         </h3>
         <h3>it has been {{days}} total days since this project was first conceived!</h3>
      </div>

   </body>
</html>