<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/base.css' %}">
    <title>Cancer-3 Blood Oncologist</title>
</head>
<body style="background-color:rgb(229, 202, 29)">
    <div class="sidenav">
		<a href="/">Home</a>
		<a href="about/">About C-3BO</a>
	</div>
    <div class="stop_side_by_side"></div>
    {% block content %} {% endblock %}
</body>
</html>