{% extends "blog/base.html" %}

{% block content %}
    <div class="side_by_side">
        <h1>Blood-bot 8's {{project.title}}</h1>
    </div>
    <h2>
        Deployed by {{project.author}} on <t>{{project.Date_created}}</t>
    </h2>
    <div>
        <h3>
            According to the American Cancer Society...
            # of cases
        </h3> 
    </div>
    
    <div>
        <ul type="circle">
            <li> Version 2.2 </li>
            <li> BCR-ABL1 genetic features are available </li>
            <li> Cannot speak spanish </li>
        </ul>
    </div>
    <h3>
        <em>"super interesting quote (h3 tag should have class/id)" -Me</em>
    </h3>
    
{% endblock content %}
