#side_by_side {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
  }
#quotes {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  color: brown;
}